SWAGGER_BACKEND_URL = 'http://localhost:3000/'
SWAGGER_TITLE = ''

DB_HOST = 'localhost'
DB_PORT = 3306
DB_USER = 'root'
DB_PASSWORD = 'password'
DB_NAME = 'mysqldb'

JWT_SECRET = 'secret'
JWT_EXPIRES_IN = 43200000

REDIS_HOST = '127.0.0.1'
REDIS_PORT = 6379
REDIS_DB = 
REDIS_PASSWORD = 
REDIS_PREFIX = 'prefix_'

CORS_ORIGINS = '["https://editor.swagger.io"]'